<style>
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}
			/* HTML5 display-role reset for older browsers */
			article, aside, details, figcaption, figure, 
			footer, header, hgroup, menu, nav, section {
				display: block;
			}
			body {
				line-height: 1;
			}
			ol, ul {
				list-style: none;
			}
			blockquote, q {
				quotes: none;
			}
			blockquote:before, blockquote:after,
			q:before, q:after {
				content: '';
				content: none;
			}
			table {
				border-collapse: collapse;
				border-spacing: 0;
		
			}

			.clearfix{
				overflow: auto
			}
/*MOBILE*/

body{
	margin:0 auto;
	padding:0 auto;
	font-family: 'Roboto Mono', monospace;
	font-weight: 400;
}
			
html{
	font-size: 14px;
}

h1{
	font-size:2rem
}

h2{
	font-size:1.5rem
}

h3{
	font-size:1rem
}

.header-wrapper{

}

#title{
	width:100%;
	height:100%;
	margin:0 auto;
	padding-top:0;
	top:0;
	z-index:100;
	cursor: pointer;
	pointer-events:none;
	text-align: center;
}

#title h1{
}

.whenyouare{
	margin:0 auto;
	width:90%;
	height:100%;
	margin-top:15%;
	margin-left: 5%;
	line-height: 1.3rem;
	text-align: center;
}

.list{
	margin:0 auto;
	width:90%;
	height:100%;
	margin-top:10%;
	margin-left: 5%;
}


.item{
	width:95%;
	padding-bottom:1%;
	line-height: 1.3rem;
	letter-spacing: 1px;
}

.bubble {
	position: absolute;

}

.bubble label {
}

.checkbox:after{
}

.bubble label:after {
}

.bubble label:hover::after {
	
}

.bubble input[type=checkbox]:checked + label:after {
	background-color: pink;
	opacity:1;
}

.option{
	margin-left:10%;
	position: relative;
}

.option label:after{
	background-color: pink;
	opacity:1;
}

@media only screen and (min-width: 768px){
.whenyouare{
	margin-top: 10%
}
}


@media only screen and (min-width: 1024px) {
.whenyouare{
	margin-top: 7%
}

.list{
	margin-top:5%;
}

@media only screen and (min-width: 1200px){
.whenyouare{
	margin-top: 5%
}

.list{
	width:50%;
	margin-left: 25%;
	margin-top:5%;
}


}


}















































</style>